@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #36393F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:100%;
  height:100%;
  margin: 0;
}

h1{
  padding: 0;
  margin:0;
}
div{
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
}

.thatone{
  font-weight: bold; 
  color: white;
}